<div class= "row">
 <div class= "col-md-5">
  <h2>プロフィール<%= link_to "編集", edit_user_registration_path %></h2>
  <img src=<%= @user.image %> class = "icon_image">

  <div class="follower">
    <%= link_to followers_user_path(@user.id) do %>
          <h5 style="color: black;">フォロワー<%= @user.followers.count %>人</h5>
    <% end %>
  </div>
  <div class="follow">
    <%= link_to following_user_path(@user.id) do %>
                <h5 style="color: black;">フォロー<%= @user.following.count %>人</h5>
    <% end %>
  </div>
  <div>
      <%= render "follow_form" %>
  </div>

  <h4 class="username mt-3">ユーザー名</h4>
   <%= @user.username %>
  <h4>メールアドレス</h4>
   <%= @user.email %>
  <h4>プロフィール</h4>
   <%= @user.profile%>

 </div>

 <div class="col-md-5">
 <%= paginate @fashion %>
  <% @fashion.each do |fashion| %>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-header"><%= fashion.title %></div>
  <div class="card-body">
    <h5 class="card-title">
     <div class="swiper-container">
      <div class="swiper-wrapper">
      <% fashion.pic.each do |img| %>
       <div class="swiper-slide">
        <%= image_tag img.url, class: 'card-img-top'%>
       </div>
       <% end %>
      </div>
      <div class="swiper-pagination"></div>
      <div class="swiper-button-prev"></div>
      <div class="swiper-button-next"></div>
     </div>
   </h5>
    <p class="card-text"><%= fashion.body %></p>
    <div class="card-header bg-transparent border-white">
    </div>
    <p class="card-text">
     購入ショップ：<%= fashion.shop %>
    </p>
  </div>
  <% end %>
 </div>
</div>
 