<div class="container">
<div class= "row mt-5">
 <div class= "col-md-5">
  <h2 class="prof-title mb-3">プロフィール</h2>
  <%= image_tag @user.image.to_s, size: '100x100', class: 'rounded-circl mr-1' %>
  <div class="follower mt-3">
    <%= link_to followers_user_path(@user.id) do %>
          <h5 style="color: black;">フォロワー<%= @user.followers.count %>人</h5>
    <% end %>
  </div>
  <div class="follow">
    <%= link_to following_user_path(@user.id) do %>
                <h5 style="color: black;">フォロー<%= @user.following.count %>人</h5>
    <% end %>
  </div>
  <div>
      <%= render "follow_form" %>
  </div>
  <h4 class="text-danger mt-3">ユーザー名</h4>
   <%= @user.username %>
  <h4 class="text-danger mt-3">メールアドレス</h4>
   <%= @user.email %>
  <h4 class="text-danger mt-3">自己紹介文</h4>
   <%= @user.profile %>

 </div>

 <div class="col-md-5 mt-5">
  <%= paginate @fashion %>
  <% @fashion.each do |fashion| %>
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">
     <div class="swiper-container">
      <div class="swiper-wrapper">
      <% fashion.pic.each do |img| %>
       <div class="swiper-slide">
        <%= image_tag img.url, class: 'card-img-top'%>
       </div>
       <% end %>
      </div>
      <div class="swiper-pagination"></div>
     </div>
   </h5>
    <p class="card-text">
    <%= link_to fashion_path(fashion) do %>
    検索キーワード：<%= fashion.title %>
    <% end %>
    </p>
  </div>
  <% end %>
 </div>
</div>
</div>
 