
<div class="row">
 <div class="col-md-4.col-12">
 <%= link_to 'followしてるユーザー', following_fashions_user_path(@fashions) %>
 <%= render 'search_form', url: fashions_path, q: @q %>
  <% if @fashions.any? %>
  <%= render @fashions %>
  <% else %>
   <h3><%= '検索結果がありません。' %></h3>
  <% end %>
  <%= paginate @fashions %>
 </div>
 <div class="col-md-4.col-12">
  <div class="ranks-box ml-5 mt-5">
   <div class="card ml-5 mt-5">
     人気の投稿
   </div>
   <div class="card-body ml-5">
    <%= render 'rank', all_ranks: @all_ranks, a: @a %>
   </div>
  </div>
 </div>
</div>
