<!DOCTYPE html>
<html>
  <head>
    <title>DockerForRails27</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

  </head>

  <body>
    <header>
            <% if user_signed_in? %>
                 <%= render 'shared/head' %>
            <% else %>
                <%= render 'shared/before_head' %>
            <% end %>
    </header>
    <main>
    <%= yield %>
    </main>
  <script src="../package/swiper-bundle.js"></script>

  <script>
    var swiper = new Swiper('.swiper-container', {
      pagination: {
        el: '.swiper-pagination',
      }
    });
  </script>
  </body>
</html>
